<div class="is-flex is-justify-content-center">
<div class="columns is-centered mb-6 mt-6">
  <div class="column is-half ">
   <% @entries.each do |day, entries| %>
      <h3 class="is-size-4 has-text-wight mb-4 mt-6 has-text-centered">Entries for <%= day%>
      </h3>


      <nav class="level is-mobile">
        <div class="level-item has-text-centered">
            <div>
               <p class="heading">CALORIES</p>
               <p class="title"><%= entries.pluck(:calories).sum %></p> 
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
               <p class="heading">PROTEINS</p>
               <p class="title"><%= entries.pluck(:proteins).sum %>g</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
               <p class="heading">CARBOHYDRATES</p>
               <p class="title"><%= entries.pluck(:carbohydrates).sum %>g</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
               <p class="heading">FATS</p>
               <p class="title"><%= entries.pluck(:fats).sum %>g</p>
            </div>
        </div>
      </nav>

        <% entries.each do |entry| %>
            <%= link_to entry_path(entry) do %>
              <div class="card"> 
                    <div class="card-content">
                      <strong><%= entry.meal_type %></strong><br/>
                      <%= entry.calories %>calories,
                      <%= entry.proteins %>g proteins,
                      <%= entry.carbohydrates%>g carbohydrates,
                      <%= entry.fats%>g fats
                    </div>
                </div>
            <%end%>
        <%end%>
    <%end%>
  </div>
 </div>
</div>